/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300&display=swap');

/*Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project stlyes */
    color: #3a3a3a;
    font-family: 'ubuntu', sans-serif;
}

h1{
    font-family: 'ubuntu', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #51c46a;
}

h2, h3 {
    font-family: 'ephesis', sans-serif;
    text-transform: capitalize;
    letter-spacing:  6px;
    color:#51c46a;
    text-align: center;
    font-size: 110%;
}
/* header*/
header {
    background-color:#bdaa16;
    padding: 0 ;
    position: absolute;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
    

}
header a {
    text-decoration: none;
    color: inherit;
}

header  i {
    color: #51c46a;
}


#menu {
    font-size:150%;
    letter-spacing: normal;
    list-style-type: none;
    font-family:'ephesis', sans-serif ;

}
#menu li {
    margin-bottom: 1em;

}
.active {
    border-bottom: 1px solid #51c46a;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #bdaa16 ;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}
/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 8rem;
}

/*main */
main {
    
    /* Make main element take up any surplus space to push footer down */
    flex: 1 2 auto;
    margin-top: 78px;
}

/* Bar Section */
#bar {
    height: 100vh;
    width:100%;
    background: url("../images/pexels-pixabay-260922.jpg") no-repeat center center/cover;
    position: relative;

}

#cover-text {
    background-blend-mode: normal;
    font-size: 30px;
    font-family: 'ephesis',sans-serif;
    position: absolute;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 15px;
    margin: 20px auto;
}
#welcome-text {
    font-size: 20px;
    font-family: 'ubuntu', sans-serif;
    background-blend-mode: normal;
    position: absolute;
    color:white;
    width: 70%;
    min-height: 100px;
    text-align: center;
    padding-top: 15%;
    padding-left: 30px;
    margin: 35% 0;
}
#welcome-text > h4 {
    text-align: center;
    padding: top 0;
    color: whitesmoke;
}

#bookatable {
    min-height: 100vh;
    width: 100%;
    background: url("../images/pexels-pixabay-260922.jpg")  center / cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    position: relative;
}

.card-container {
    display: grid;
    grid-template-columns: 420px 420px;
}

.card-img {
    background: url("/assests/images/card.img.jpg") center/cover  no-repeat;
    background-position: 50% 15%;
    width: 450px;
}

#bookatable  h2 {
    padding-top: 1em;
    padding-bottom: 60px;
    margin-bottom: 40px;
}

.card-content {
    height: 330px;
}

.card-content h3 {
    text-align: center;
    color:#51c46a;
    padding: 10px 0 25px 0;
    font-size: 26px;
    font-weight: 500;
}

.form-row {
    display: flex;
    width: 90%;
    margin: 0 auto;
}
form select, form input {
    display: block;
    width:100%;
    margin: 15px 12px;
    padding:5px;
    font-size: 15px;
    font-family: 'ubuntu', sans-serif;
    outline: none;
    border: none;
    border-bottom: 1px solid #51c46a;
    font-weight: 300;
}

form input[type = text], form input[ type = number], form input::placeholder, select {
    color: #51c46a;
}
form input[ type= sumbit] {
    color: whitesmoke;
    background: #51c46a;
    padding: 12px 0;
    border-radius: 4px;
    cursor: pointer;
}
form input [type = submit]:hover{
    opacity: 0.9;
}


/*footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: #f8d563;
}
#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #51c46a;
}
/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */ 
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width:fit-content;
        padding-right: 1rem;

    }
  
    #menu {
        display:flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 200%;
        line-height: 75px;
        margin: 0 0.5rem;
}   
    }

 /* Main content */
    main {
        /* Push main content down to accomedate larger header */
        margin-top: 90px;
    }
    #welcome-text {
        padding-top: 1ch;
        margin-top: 10em;

    }
        .card-container {
            grid-template-columns: 100%;
        }
        .card-img {
            height: 230px;
        }

/* Large devices (laptops and desktops, 992px and up */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #51c46a;
    }

        #welcome-text {
            padding-top: 1ch;
            margin-top: 10em;
    
        }
        .card-container {
            grid-template-columns: 100%;
        }

        .card-img {
            height: 330px;
        }
    
}
